body{
margin: 0;


font-family: 'Raleway', sans-serif;
}


.reservia{
  height:45px;
  width: 90px;
}

header{
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 55px;
}

main{
  margin-right: 55px;
  margin-left: 55px;
}

h1{
  font-weight: bold;
  font-size: 25px;
}

.rechercher{
    color: white;
    background-color: rgb(0, 0, 255);
    margin-left:-5px;
    border: none;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  

}



.filtre{
    padding:0;
 
    margin:0;
 
    list-style-type:none;
    
}

.block1{
   display: flex;
   flex-direction: row;
   justify-content:space-between ;
   align-items:flex-end ;

}

.deroulante ul{

  display: flex;
  flex-direction:row ;
  align-items:baseline ;
  list-style-type: none;
  text-decoration: none;

}
.deroulante ul li a:hover{
 color: black;
}

.item{
  margin-left: 30px;
  margin-right: 30px;

}
 
.item a{
    color:rgb(0, 101, 252);
    text-decoration: none;
    
}

#icon{
  background-color: grey;
  margin-right:   0px; 
  padding: 0px 10px ;
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


h2,.block2 ul {
  display: flex;
  flex-direction:row;
  align-items:flex-start ;
  list-style-type: none;
}

.filtre2{
  margin-left:30px ;  
  margin-right:20px ;
  display: flex;
  flex-direction: row;
  align-items:center;
  height: 30px;
  width: 150px;
  

}



.filtre2 a{
  
  text-decoration: none;
  font-size: 15px;
  padding-right: 15px;
  padding-left:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-weight: bold;

}
.filtre2 ul li a:hover{
 color: blue;
}


.barre{
  border: 1px solid gray;
  height: 100%;
}


#recherche{
  

 
 display: flex;
 flex-direction: row;
 align-items: center;

 height: 40px;
}

.block2{
  display: flex;
  flex-direction: row;
  align-items: baseline;
 
 
}

ul i{
  background-color:rgb(148, 154, 219);
  border-radius: 100%;
  font-size: 10px;
  color:rgb(0, 101, 252);
  padding: 10px;


  
  
}

.filtre2{
  border-top: 1px solid rgb(179, 177, 177);
  border-right: 1px solid rgb(179, 177, 177);
  border-bottom: 1px solid rgb(179, 177, 177);
  border-radius: 20px;
  font-size: 10px;
  padding-right: 6px;
  border-left: 0px solid rgb(179, 177, 177);
  
}

.indication{
  display: flex;
  flex-direction: row;
  align-items: baseline;

}

#i{
  margin-right: 5px;
  color:rgb(0, 101, 252) ;
  border:1px solid grey;
  border-radius: 100%;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 16px;
}




.section1{
  display: flex;
  flex-direction: row;
  
  
  

}

#hebergement_marseille{
  width:66%;
  margin-right: 4%;
  border-radius: 15px;
  background-color:rgb(242,242,242);
}

#populaire{
  width:30%;
  background-color:rgb(242,242,242);
  border-radius: 15px;
}

.partie1{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap:wrap;
}

.partie1 figure{
  width: 30%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  height:250px;
  box-sizing: border-box;
  border:7px solid white;
  background-color: white;
  border-radius: 15px;
  
}
.partie1 figure img{
  width: 100%;
  height: 60%;
  border-top-right-radius:10PX ;
  border-top-left-radius: 10PX;
  object-fit: cover;
}

.partie1 figure figcaption{
  width:100% ;
  height: 40%;
  padding-top: 8px;
  box-sizing: border-box;

}

.partie1 h3,.partie1 p{
  margin: 1%;
 
}
.la2{
  color: gray;
}
.partie1 i {
  color: blue;
}





.partie2 {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
   

}

.partie2 figure{
  display: flex;
  flex-direction: row;
  
  width: 90%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  height:150px;
  box-sizing: border-box;
  border:5px solid white;
  background-color: white;
  border-radius: 15px;
  
  


}

.partie2 figure img{
  
  width: 40%;
  height: 100%;
  border-bottom-left-radius:10PX ;
  border-top-left-radius: 10PX;
  object-fit: cover;
  
}

.partie2 figure figcaption{
  margin-left: 10px;
  width: calc(60% - 10px);
}

.partie2 figure figcaption h3 , .partie2 figure figcaption p{ 

  margin:0;
}

.partie2 i {

color: blue;

  
}
#Populaire h2 i{
   display: flex;
   flex-direction: row;
  align-items:baseline;
  justify-content: right;
}


.section1 h2{
  margin-left: 20px;
}


#activité {
  width: 100%;
  grid-template-rows: 220px 220px;
  margin:auto;
  display: grid;
  grid-gap: 20px;
 grid-template-areas: 
              "vieux_port fort calanques notre_dame"
              "vieux_port iles calanques longchamps";

 margin-bottom: 20px;             
}


.vieux_port{
  grid-area:vieux_port;
  height:100%;
  

}

.fort{
  grid-area: fort;
  
  
}

.iles{
  grid-area: iles;
  
}

.calanques{
  grid-area: calanques;
  

}

.notre_dame{
  grid-area: notre_dame;
  
}

.lonchamps{
  grid-area: longchamps;
  
}

#Activité img{
  width: 100%;
  height:calc(100% - 56px) ;
  object-fit: cover;
  border-top-right-radius:20px;
  border-top-left-radius: 20px;
}

#Activité figure {
  margin:0;
  border: 1px solid transparent;
  border-radius:20px ;
  box-shadow:0px 0px 10px 0px grey;
  
}

#Activité figcaption{
  height: 56px;
  text-align: center;


}

footer{
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  background-color:rgb(242,242,242);
  width: 100%;
  
  
}

footer ul {
  list-style-type: none;
  color: black;
}

footer a{
  text-decoration: none;
  color: gray;
}

.block2 h2 {
  font-size: 18px;
}

#hebergement_marseille a, #populaire a, #Activité a  {
  text-decoration: none;
  color: black;
}

@media all and (max-width:1023px) {
  .partie1 figure{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0PX 0PX 1PX 0px; }

    .section1{
      display: flex;
      flex-direction: column;
      align-items:baseline;
      width: 100%;
      
      
    }
    #hebergement_marseille{
      width: 100%;
      margin-bottom: 5px;
    }
    .partie1 figure{
      width: 100%;
      
    }
    .block2 ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 0;}  
    
      .block2 ul li{

        margin-left: 0px;
        margin-right: 5px;
        margin-bottom: 5px;
        width:auto;}

    #populaire{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    
    #populaire figure{
      display: flex;
      flex-direction: row;
    }

    #Activité{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #Activité figure{
    width: 30%;
    height: 250px;
    }
    
   
}

@media all and (max-width:768px){


  .section1{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    
  }
  
  #hebergement_marseille{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    background-color:initial;
    

  }
  #activité{
    display: flex;
    flex-direction: column;
    width: 100%;
     
  }

  #activité figure{
    width: 100%;

  }
  #populaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .block2{
    display: flex;
    flex-direction: row;
  }
  
  

  footer{
    display: flex;
    flex-direction: column;
  }
   .block1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  
   }
 
   .deroulante{
    display:flex ;
    flex-direction: row;
    width: 100%;

   }
  
   .deroulante ul{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    margin: 0;
    padding: 0%;
    width: 100%;
   }
  

  .block2 ul{
   display: flex;
   flex-direction: row;
   padding-left: 0;  
  }

  .block2 ul li{

    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    width:auto;
  }
   .block2 ul li a{
   padding-left: 5px;
   padding-right:5px;
  }

 .partie1 figure{
   width: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 0PX 0PX 1PX 0px;

  
  }

  #Activité figure{
    height: 200px;
    width: 100%;
  }

  main{
    margin: 0 15px 0 15px
  }
  .section1{
    display: flex;
    flex-direction: column-reverse;

  }
  .partie2 figure{
    width: 100%;
    
  }
  header{
    margin: 0 15px 0 15px;
     
  }

  .block1 .deroulante ul #inscrire{
    position: absolute;
    top: 10px;
    right: 10px;

  }

  #recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .reservia{
    display: flex;
    flex-direction:row ;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .objet{
    width:50%;
    text-align: center;
    border-bottom: 1px solid grey;
     margin: 0;
  }
  
  

}





